@import "utilities";

.center{
    text-align: center;
    background-color: $bgc-color2;
    margin: auto;
    width: 50%;
    font-variant: small-caps;
    font-size: 2rem;
    border-radius: 50%;
}
#card-products{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-around;
    width: 100%;
    background-color: $bgc-color;
    text-align: center;
    border-top-right-radius: 8%;
    border-top-left-radius: 8%;
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
    @media (max-width: 652px){
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: space-around;
    }
    @media (max-width: 450px){
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: space-around;
    }
    @media (min-width: 1100px){
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: space-around;
    }
    img{
        width: 150px;
        height: 150px;
    }
    #konyv{
        background-color: $span-color;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
        cursor: pointer;
    }
    .card-products{
        background-color: $button;
        border-top-right-radius: 8%;
        border-top-left-radius: 8%;
        border-bottom-right-radius: 8%;
        border-bottom-left-radius: 8%;
    }
    a{
        background-color: $span-color;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
        cursor: pointer;
    }
}
